# .env.example file for database connection settings

# Database connection settings

DB_USER=db_user
DB_PASSWORD=db_password

DB_SERVER=db_server,port
DB_DATABASE=db_name

DB_DRIVER=db_driver

TABLE_TENTATIVAS=db_table_name
